@model Banka_uyg.Models.Musteriler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musteriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoğumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoğumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
